<div class="container w-50 d-block mx-auto border border-black mt-5">
    <!-- Heading for login Form -->
    <img src="/assets/register.svg" width="22%" class="d-block mx-auto">
    <h1 class="text-center text-primary mb-4"><i class="fas fa-sign-in-alt me-2"></i>Login Form</h1>

    <!-- Creating form for login -->
    <form #ref="ngForm"  (ngSubmit)="onLogin(ref)"> 

        <label for="un" class="form-label mt-3"><i class="fas fa-user-plus me-2"></i>Username</label>
        <input type="text" class="form-control" name="username" id="un" placeholder="Enter Username..." ngModel>

        <label for="pw" class="form-label mt-3"><i class="fas fa-lock me-2"></i>Password</label>
        <input type="password" class="form-control" name="password" id="pw" placeholder="Enter Password..." ngModel>

        <button type="submit" class="btn btn-success d-block mx-auto mt-3 mb-5"><i class="fas fa-plus-circle ms-0 me-1"></i>Login</button>
    </form>
</div>