
<input type="text" name="productTitle" placeholder="Search by brand" class="form-control mt-4 mb-4" 
[(ngModel)]="searchTerm">

<div class="container p-2">
    <div class="table-content">
        <form #ref="ngForm" (ngSubmit)="saveMobile(ref.value)">
            <table class="table text-center text-dark">
                <thead>
                    <th>Brand</th>
                    <th>Description</th>
                    <th>Image</th>
                </thead>
                <tbody>
                    <tr *ngFor="let mobile of mobiles | search:searchTerm;let ind=index">

                        <!-- product title -->
                        <td>
                            <!-- code for swap edit and save -->
                        <!-- while editing save button appears -->
                            <span *ngIf="!editMobileStatus || editMobileIndex!==ind">
                                {{mobile.productTitle}}
                            </span>

                            <input type="text" name="productTitle"  [(ngModel)]="editMobileObj.productTitle"
                                *ngIf="editMobileStatus && editMobileIndex==ind">

                        </td>
                        <!-- product description -->
                        <td>
                            <span *ngIf="!editMobileStatus || editMobileIndex!==ind">
                                {{mobile.description}}
                            </span>

                            <input type="text" name="description"  [(ngModel)]="editMobileObj.description"
                                *ngIf="editMobileStatus && editMobileIndex==ind">

                        </td>
                        <td>
                            <img src={{mobile.productImage}} alt="" width="120px">
                        </td>
                                                        <!-- edit  and delete -->


                        <td>
                            <span *ngIf="!editMobileStatus || editMobileIndex!==ind">

                                <!-- Edit button -->
                                <button class="btn btn-primary btn-sm p-1 m-1" (click)="editMobile(mobile,ind)">
                                    <i class="fas fa-edit text-light"></i></button>

                                    <!-- delete button -->
                                <button class="btn btn-light btn-sm p-1 m-1">
                                    <i class="fas fa-trash-alt text-danger" (click)="deleteMobile(mobile)"></i></button>
                            </span>

                             <!-- Edit button of type submit -->
                            <span *ngIf="editMobileStatus && editMobileIndex==ind">
                                <button class="btn btn-sm btn-success" type="submit"><i
                                        class="fas fa-save text-white"></i></button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>