 <div class="row mt-5">
    <div class="col-sm-2 col-md-3"></div>
    <div class="col-sm-8 col-md-6">
      <form (ngSubmit)="onSubmitNewMobile()">

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="title" placeholder="name@example.com" name="productTitle"
            [(ngModel)]="mobileModel.productTitle">
          <label for="title">Product Title</label>
        </div>

         <div class="form-floating mb-3">
          <input type="text" class="form-control" id="pi" placeholder="Password" name="productImage"
            [(ngModel)]="mobileModel.productImage">
          <label for="pi">Image URL</label>
        </div> 

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="rating" placeholder="Rating" name="rating"
            [(ngModel)]="mobileModel.rating">
          <label for="rating">rating</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="count" placeholder="Count" name="count"
            [(ngModel)]="mobileModel.count">
          <label for="count">count</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="discountPrice" placeholder="Discount Price" name="discountPrice"
            [(ngModel)]="mobileModel.discountPrice">
          <label for="discountPrice">Discount Price</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="actualPrice" placeholder="Actual Price" name="actualPrice"
            [(ngModel)]="mobileModel.actualPrice">
          <label for="actualPrice">Actual Price</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="discount" placeholder="Discount" name="discount"
              [(ngModel)]="mobileModel.discount">
          <label for="discount">Discount</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="EMI" placeholder="EMI" name="EMI"
              [(ngModel)]="mobileModel.EMI">
          <label for="EMI">EMI</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="exchangeOffer" placeholder="Exchange Offer" name="exchangeOffer"
              [(ngModel)]="mobileModel.exchangeOffer">
          <label for="exchangeOffer">Exchange Offer</label>
        </div>  


         <button class="btn btn-warning float-end" type="submit">Add</button>
      </form>
    </div>
    <div class="col-sm-2 col-md-3"></div>
  </div> 