/* displaying nav items in white colour */
a
{
    color: white;
}

/* displaying actived nav item in bold  */
.active.nav-link
{
    font-weight: bold;
    font-size: 17px;
    border-radius: 20px;
    margin-right: 5px;
}
