<!-- <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"></a> -->
        <ul class="nav nav-pills mt-2 mb-3 justify-content-evenly">

          <li class="nav-item">
            <a class="nav-link" routerLink="viewmobiles" routerLinkActive="active">View Mobiles</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="addnewmobile"  routerLinkActive="active">Add Mobile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="viewbikes" routerLinkActive="active">View Bikes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="addnewbike"  routerLinkActive="active">Add Bike</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="viewtelevisions" routerLinkActive="active">View Televisions</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="addnewtelevision"  routerLinkActive="active">Add Televisions</a>
          </li>

        </ul>
    <!-- </div>
</div>
</nav> -->


<div>
    <router-outlet></router-outlet>
</div>