
<input type="text" name="productTitle" placeholder="Search by brand" class="form-control mt-4 mb-4" 
[(ngModel)]="searchTerm">

<div class="container p-2">
    <form #ref="ngForm" (ngSubmit)="saveBike(ref.value)">
        <table class="table text-center">
            <thead>
                <th class="pb-3">Brand</th>
                <th class="pb-3">Description</th>
                <th class="pb-3">Image</th>
            </thead>
            <tbody>
                <tr *ngFor="let bike of bikes | search:searchTerm | paginate: {itemsPerPage:3, currentPage:p}; let ind=index">

                    <!-- Product Title -->
                    <td>
                        <!-- code for swap edit and save -->
                        <!-- while editing save button appears -->
                        <span *ngIf="!editBikeStatus || editBikeIndex!==ind">
                            {{bike.productTitle}}
                        </span>

                        <input type="text" name="productTitle"  [(ngModel)]="editBikeObj.productTitle"
                                *ngIf="editBikeStatus && editBikeIndex==ind">

                    </td>

                    <!-- Description -->
                    <td>
                        <span *ngIf="!editBikeStatus || editBikeIndex!==ind">
                            {{bike.description}}
                        </span>

                        <input type="text" name="description"  [(ngModel)]="editBikeObj.description"
                                *ngIf="editBikeStatus && editBikeIndex==ind">

                        
                    </td>

                    <!-- Product Image -->

                    <td>
                        <img src="{{bike.productImage}}" width="150px">
                    </td>

                                                <!-- Edit and delete -->

                    <span *ngIf="!editBikeStatus || editBikeIndex!==ind">

                         <!-- Edit button -->
                        <button class="btn btn-primary btn-sm p-1 m-1" (click)="editBike(bike,ind)"><i
                            class="fas fa-edit text-light"></i></button>

                         <!-- delete button -->
                         <button class="btn btn-light btn-sm p-1 m-1"><i
                            class="fas fa-trash-alt text-danger" (click)="deleteBike(bike)"></i></button> 
                    </span>

                    <!-- Edit button of type submit -->
                    <span *ngIf="editBikeStatus && editBikeIndex==ind">
                        <button class="btn btn-sm btn-success" type="submit"><i
                                class="fas fa-save text-white"></i></button>
                    </span>
                    

                </tr>
            </tbody>
        </table>
    </form>
</div>



<pagination-controls  (pageChange)="p=$event" class="text-center"></pagination-controls>
