<div class="container-fluid">
    <div class="row">
        
        <!-- text at left side -->
        <div class="col-sm-5 mt-3 text-white">
            <span class="mb-5 text-primary" id="Eletter">E</span><span id="para">COMMERCE</span>
            <span id="Wletter">  W</span><span id="para2">EBSITE</span>
            <h1 class="mb-3 mt-3" id="para3"><span>eCommerce</span> <br><span id="website">Website</span> <br><span id="buy">To Buy</span> <br><span id="mobiles">Electronics</span> </h1>
            <div class="btn-group mb-3">
                <button class="btn btn-warning text-white"> > </button>
                <button class="btn btn-light text-primary">LEARN MORE<i class="fas fa-arrow-alt-circle-right ms-2"></i></button>
            </div>
        </div>

        <!-- carousal at right side -->
        <div class="col-sm-6 offset-sm-1">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active mt-5" data-bs-interval='2000'>
                    <img src="https://in-exstatic-vivofs.vivo.com/gdHFRinHEMrj3yPG/1610680539810/ef9126e4edebfcb78934444d8cb9a4c2.jpg" class="d-block w-100" height="400px" >
                  </div>
                  <div class="carousel-item mt-5" data-bs-interval='2000'>
                    <img src="https://content3.jdmagicbox.com/comp/chitradurga/p6/9999p8194.8194.180411143056.n7p6/catalogue/sangeetha-mobiles-pvt-ltd-chitradurga-telecommunication-equipment-dealers-1sd0yt3byf.jpg" class="d-block w-100" height="400px">
                  </div>
                  <div class="carousel-item mt-5" data-bs-interval='2000'>
                    <img src="https://cdn.pocket-lint.com/r/s/1200x/assets/images/120309-phones-news-buyer-s-guide-best-smartphones-2020-the-top-mobile-phones-available-to-buy-today-image27-gfxwnxca2p.jpg" class="d-block w-100" height="400px">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        
    </div>


    <!-- Pipes -->
    <!-- <h1 class="text-white">{{a | uppercase}}</h1>
    <h1 class="text-white"> {{ b  | lowercase }} </h1>
    <h1 class="text-white"> {{ c  | currency }} </h1>
    <h1 class="text-white"> {{ c  | currency:'INR' }} </h1>
    <h1 class="text-white"> {{ c  | currency:'EUR' }} </h1>
    <h1 class="text-white"> {{ d  | percent }} </h1>
    <h1 class="text-white"> {{ e  | date }} </h1>
    <h1 class="text-white"> {{ e  | date:'short' }} </h1> -->

    <!-- Square Pipe -->

    <!-- <h1 class="text-white">square of {{f}} is {{f | square}}</h1> -->

</div>