<div class="container p-2">
    <form #ref="ngForm" (ngSubmit)="saveTelevision(ref.value)">
        <table class="table text-center">
            <thead>
                <th>Brand</th>
                <th>Description</th>
                <th>Image</th>
            </thead>
            <tbody>
                <tr *ngFor="let television of televisions; let ind=index">

                    <!-- Product Title -->
                    <td>
                        <!-- code for swap edit and save -->
                        <!-- while editing save button appears -->
                        <span *ngIf="!editTelevisionStatus || editTelevisionIndex!==ind">
                            {{television.productTitle}}
                        </span>

                        <input type="text" name="productTitle"  [(ngModel)]="editTelevisionObj.productTitle"
                                *ngIf="editTelevisionStatus && editTelevisionIndex==ind">

                    </td>

                    <!-- Description -->
                    <td>
                        <span *ngIf="!editTelevisionStatus || editTelevisionIndex!==ind">
                            {{television.description}}
                        </span>

                        <input type="text" name="description"  [(ngModel)]="editTelevisionObj.description"
                                *ngIf="editTelevisionStatus && editTelevisionIndex==ind">

                        
                    </td>

                    <!-- Product Image -->

                    <td>
                        <img src="{{television.productImage}}" width="150px">
                    </td>

                                                        <!-- Edit and delete -->

                    
                    <span *ngIf="!editTelevisionStatus || editTelevisionIndex!==ind">

                        <!-- Edit button -->
                        <button class="btn btn-primary btn-sm p-1 m-1" (click)="editTelevision(television,ind)"><i
                            class="fas fa-edit text-white"></i></button>

                        <!-- delete button -->
                         <button class="btn btn-light btn-sm p-1 m-1"><i
                            class="fas fa-trash-alt text-danger" (click)="deleteTelevision(television)"></i></button> 
                    </span>

                    <!-- Edit button of type submit -->
                    <span *ngIf="editTelevisionStatus && editTelevisionIndex==ind">
                        <button class="btn btn-sm btn-success" type="submit"><i
                                class="fas fa-save text-white"></i></button>
                    </span>                   

                </tr>
            </tbody>
        </table>
    </form>
</div>
